@inject IStringLocalizer<Resource> localizer
@page "/trainercreate"

@if (!Saved)
{
    <section>
        <h1 class="page-title marginBot30" style="margin-bottom:30px">@localizer["trainerCrateMenu"]</h1>
        <EditForm Model="@Trainer" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <div class="form-group row">
                <label for="firstName" class="col-sm-4 bold" style="font-weight:bold">@localizer["firstName"]</label>
                <InputText id="firstName" name="firstName" class="form-control col-sm-8" @bind-Value="@Trainer.FirstName" @oninput="@((e)=>{ Trainer.FirstName = (string)e.Value;})" placeholder="@localizer["firstName"]"></InputText>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-4 bold" style="font-weight:bold">@localizer["lastName"]</label>
                <InputText id="lastName" name="lastName" class="form-control col-sm-8" @bind-Value="@Trainer.LastName" @oninput="@((e)=>{ Trainer.LastName = (string)e.Value;})" placeholder="@localizer["lastName"]"></InputText>
            </div>
            <div class="form-group row">
                <label for="dob" class="col-sm-4 bold" style="font-weight:bold">@localizer["DoB"]</label>
                <InputDate id="dob" name="dob" class="form-control col-sm-8" @bind-Value="@Trainer.DoB" @oninput="@((e)=>{ Date = (string)e.Value.ToString();})" placeholder="@localizer["dob"]"></InputDate>
            </div>
            <div class="form-group row">
                <label for="selector" class="col-sm-4 bold" style="font-weight:bold">@localizer["sportHistory"]:</label>
                <InputSelect id="selector" class="col-sm-3" @bind-Value="@SelectedSport">
                    <option selected value="0">@localizer["choseSportHistory"]</option>
                    <option value="1">@localizer["nogometAtletikaKosarkaItd"]</option>
                    <option value="2">@localizer["trcanje"]</option>
                    <option value="3">@localizer["bodyBuilding"]</option>
                    <option value="4">@localizer["viseRazlicitihSportova"]</option>
                </InputSelect>
                <a class="btn btn-outline-primary table-btn" @onclick="@CalculateTrainerSpeciality">@localizer["izracunajSpecialnost"]</a>
            </div>
            <div class="form-group row">
                <label for="phoneNumber" class="col-sm-4 bold" style="font-weight:bold">@localizer["phoneNumber"]</label>
                <InputText id="lastName" name="lastName" class="form-control col-sm-8" @bind-Value="@Trainer.PhoneNumber" @oninput="@((e)=>{ Trainer.PhoneNumber = (string)e.Value;})" placeholder="@localizer["phoneNumber"]"></InputText>
            </div>
            <div class="form-group row">
                <label for="phoneNumber" class="col-sm-4 bold" style="font-weight:bold">@localizer["height"]</label>
                <InputText id="lastName" name="lastName" class="form-control col-sm-8" @bind-Value="@height" @oninput="@((e)=>{ height = (string)e.Value;})" placeholder="@localizer["height"]"></InputText>
            </div>
            <div class="form-group row">
                <label for="phoneNumber" class="col-sm-4 bold" style="font-weight:bold">@localizer["weight"]</label>
                <InputText id="lastName" name="lastName" class="form-control col-sm-8" @bind-Value="@weight" @oninput="@((e)=>{ weight = (string)e.Value;})" placeholder="@localizer["weight"]"></InputText>
            </div>
            <div class="form-group row">
                <label for="selector" class="col-sm-4 bold" style="font-weight:bold">@localizer["gender"]:</label>
                <InputSelect id="selector" class="col-sm-3" @bind-Value="@Trainer.Gender">
                    <option selected value="">@localizer["gender"]</option>
                    <option value="M">@localizer["male"]</option>
                    <option value="F">@localizer["female"]</option>
                </InputSelect>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 bold" style="font-weight:bold">@localizer["speciality"]</label>
                @*<label for="dob" class="col-sm-4 bold" style="font-weight:bold" @bind-Value="@bla"></label>*@
                <InputText disabled="disabled" id="lastName" name="lastName" class="form-control col-sm-8" @bind-Value="@bla" placeholder="@localizer["speciality"]"></InputText>
            </div>
            @*<div class="form-group row">
                <label for="selector" class="col-sm-4 bold" style="font-weight:bold">@localizer["speciality"]:</label>
                <InputSelect id="selector" class="col-sm-3" @bind-Value="@SelectedSpeciality">
                    <option selected value="0">@localizer["choseSpeciality"]</option>
                    <option value="1">@localizer["condition"]</option>
                    <option value="2">@localizer["weightLos"]</option>
                    <option value="3">@localizer["muscleBuilding"]</option>
                    <option value="3">@localizer["multipleSpecialitys"]</option>
                </InputSelect>
            </div>*@
            <button typle="submit" class="btn btn-primary">@localizer["createTrainerBtn"]</button>
            <a class="btn btn-outline-primary table-btn" @onclick="@NavigateToOverview">@localizer["back"]</a>
        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@Msg</div>
}
